nav, footer {
    background:black;
    color: white;
}

.hero-section {
/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../IMG/pexels-pixelme-stock-photography-2773942.jpg");

/* Set a specific height */
height: 400px;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.left{
    background: pink;
}

.right{
    background: orchid;
}